<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <h2>Languages of Asia</h2>

    <a href="{{ '/east-asia/' | relative_url }}">East Asia</a>
    <a href="{{ '/southeast-asia/' | relative_url }}">Southeast Asia</a>
    <a href="{{ '/south-asia/' | relative_url }}">South Asia</a>
    <a href="{{ '/central-asia/' | relative_url }}">Central Asia</a>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    {{ content }}
  </div>

</body>
</html>